---
---

/*
This set of stylesheets is up to you to modify or replace completely. The variables are here to change if you want, but you should probably do your own thing!
*/
$light: #eee;
$dark: #333;
$border: darken($dark, 10%);
$border-inverse: darken($light, 10%);
$link-regular: #fab;
$link-visited: darken($link-regular, 25%);
$link-inverse: #401;
$link-visited-inverse: darken($link-regular-inverse, 25%);
$serif: serif;
$sans-serif: sans-serif;
$monospace: monospace;

%callout {
    background-color: darken($light, 10%);
    padding: 5px;
    border-radius: 3px;
}

%clearfix {
    &:after, &:before {
        content: '';
        display: table;
        clear: both;
    }
}

@import
    "layout",
    "base",
    "syntax-highlighting"
;
